_site/
.quarto/
_quarto-local.yml
.quarto-local.yml
.proje_notu.txt
site_libs/
.DS_Store
*.quarto_ipynb
*.html

/.quarto/
**/*.quarto_ipynb


# QTurkey notları tamamlanan kadar bu klasörleri ignore ediyoruz
courses/qtea26/
topics/quantum/
